<br>
<div style=text-align:center;> 
    <h1> ONE Management Login </h1> 
    <h2> Package and Model Management System </h2>
</div>

<!--
<div class="admin-form-element">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required="required" placeholder=""/>
</div>

<div class="admin-form-element">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required="required" placeholder=""/>
</div>

<div class="admin-form-element">
    <button type="submit" class="btn"> 
        <span ng-if="!loading"> Login </span>
        <span ng-if="loading"> Processing <i class="fa fa-circle-o-notch fa-spin fa-fw margin-bottom"></i></span>
    </button>
</div>
-->

